@font-face {
    font-family: FreeUniversalRegular;
    src: url("../font/FreeUniversalRegular.ttf");
}

@font-face {
    font-family: FreeUniversalBoldItalic;
    src: url("../font/FreeUniversalBoldItalic.ttf");
}

@font-face {
    font-family: FreeUniversalItalic;
    src: url("../font/FreeUniversalItalic.ttf");
}

@font-face {
    font-family: FreeUniversalBold;
    src: url("../font/FreeUniversalBold.ttf");
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #db6a4b;
    /*color: #2d296b;*/
    color: #221D68;
    font-family: "FreeUniversalRegular", "Oswald", sans-serif;
    font-weight: 300;
    line-height: 1.6rem;
    background-image: url(../img/mobile.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
}

#container {
    width: 90vw;
    top: 0; right: 0; left: 0; bottom: 0;
    position: absolute;
    padding: 60px 5vw;
    overflow: scroll;
    margin: auto;
}

img{
    margin-right: 40px;
    opacity: 0.8;
}

img:last-child {
    margin-right: 0px;
}

b {
   font-family: "FreeUniversalBold", "Oswald", sans-serif;
}

#one {
    font-size: 3rem;
    letter-spacing: 1rem;
    font-family: "FreeUniversalBold", "Oswald", sans-serif;
}

#two {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
}

#three {
    font-weight: 700;
    font-size: 3rem;
}

.small {
    font-size: 0.6em;
}

i,
.wider {
    letter-spacing: 3px;
}

p {
    font-size: 2rem;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1px;
    line-height: 1.6em;
}

p:first-child {
    text-transform: uppercase;
    margin-bottom: 50px;
}